*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    background: linear-gradient(to right, #004e92, #000428);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.logo img{
    width: 45px;
    height: 45px;
    vertical-align: middle;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    padding: 3px;
    animation: logoAn 1s ease-in-out normal infinite;
    transition: 0.3s;
}
.logo img:hover{
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 10px 1px white;
    background-color: rgba(255, 255, 255, 0.29);
}
@keyframes logoAn {
    0%{
        margin-bottom: 3px;
    }
    100%{
        margin-top: 3px;
        box-shadow: 2px 2px 10px 1px rgb(216, 215, 215);
    }
}
.logo span{
    font-size: 1.5rem;
    text-transform: uppercase;
    vertical-align: middle;
    color: white;
    margin-left: 10px;
}
.search{
    position: relative;
}
.search input{
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 300px;
    transition: 0.3s;
}
.search input:focus{
    width: 400px;
}
.search button{
    padding: 8px;
    border: none;
    font-size: 16px;
    width: 100px;
    cursor: pointer;
    border-radius: 20px;
    position: absolute;
    top: 2px;
    right: 2px;
    background: linear-gradient(to right, #004e92, #000428);
    color: white;
    box-shadow: 1px 1px 1px rgb(196, 196, 196);
    transition: 0.2s;
}
.search button:hover{
    background: linear-gradient(to right, #066ec8, #040e7d);
}

/* Phone Search result */
.phone-result{
    width: 70%;
    margin: 6% auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    position: relative;
}
.card{
    width: 250px;
    margin: auto;
    overflow: hidden;
}
.img{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
.img img{
    width: 200px;
    object-fit: cover;
    margin: 20px;
}
.img span{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #004e92, #000428);
    color: white;
    padding: 5px;
   border-bottom-right-radius: 8px;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-body h4{
    font-size: 14px;
    margin: 5px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.card-body button{
    padding: 8px;
    width: 100%;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(to right, #004e92, #000428);
    transition: 0.5s;
}
.card-body button:hover{
    background: linear-gradient(to right, #000428, #004e92);
}


/* //spiner */
#spiner{
    position: fixed;
    background-color:#004e92;
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    animation: spin 0.5s ease-in none infinite;
    display: none;
    z-index: 99;
}
.spin{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(30%, 20%);
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

/* Phone details */
.details-box{
    width: 60%;
    margin: 5% auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #d3eaff;
}
.img-name{
    flex-basis: 20%;
}
.img-name img{
    width: 80px;
}
.img-name h1{
    font-size: 18px;
    margin-top: 10px;
}
.img-name p{
    font-size: 14px;
    margin-top: 10px;
}
.specification{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    flex-basis: 75%;
    text-align: center;
}
table{
    margin: auto;
    border-collapse: collapse;
}
table, tr, td{
    border: 0.3px solid #004e92;
}
table tr td{
    padding: 3px 8px;
    text-align: left;
}


/* Show More Button */
#show-more{
    padding: 10px;
    width: 150px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    font-size: 20px;
    color: white;
    border: none;
    display: none;
    background-image: linear-gradient(to right, #000428, #004e92);
}

#phone-details{
    display: none;
}

/* Responsive */
@media only screen and (max-width: 580px) {
    nav{
        flex-direction: column;
         margin: auto;
    }
    .search{
        margin-top: 20px;
    }
    .search input{
        width: 300px;
    }
    .phone-result{
        width: 100%;
        grid-template-columns: auto;
        margin-top: 30%;
    }
    .card{
        width: 80%;
    }
    .details-box{
        width: 100%;
        flex-direction: column;
        margin-top: 26%;
    }
}